@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1440px;
  margin: auto;
  scroll-behavior: smooth;
  font-family: var(--montserrat-font);
  background-color: var(--bodyBgColor);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero__pos {
  top: var(--heroTop);
}

.btn__hero {
  color: var(--heroBtnTextColor);
  background-color: var(--heroBtnBgColor);
  height: var(--heroBtnHeight);
  width: var(--heroBtnWidth);
  border-width: var(--heroBtnBorder);
  border-color: var(--heroBtnBorderColor);
  box-shadow: var(--heroBtnShadow);
  border-radius: var(--heroBtnTlRadius) var(--heroBtnTrRadius)
    var(--heroBtnBlRadius) var(--heroBtnBrRadius);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__hero:hover {
  color: var(--heroBtnTextColorHover);
  background-color: var(--heroBtnBgColorHover);
  border-color: var(--heroBtnBorderColorHover);
}

.hero__opacity {
  opacity: var(--heroOpacity);
}

.about {
  background-color: var(--aboutBgColor);
}

.clinic {
  background-color: var(--clinicBgColor);
}

.testimonials {
  background-color: var(--testimonialsBgColor);
}

.btn__blog {
  color: var(--blogBtnTextColor);
  background-color: var(--blogBtnBgColor);
  height: var(--blogBtnHeight);
  width: var(--blogBtnWidth);
  border-width: var(--blogBtnBorder);
  border-radius: var(--blogBtnTlRadius) var(--blogBtnTrRadius)
    var(--blogBtnBlRadius) var(--blogBtnBrRadius);
  border-color: var(--blogBtnBorderColor);
  box-shadow: var(--blogBtnShadow);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn__blog:hover {
  color: var(--clinicBtnTextColorHover);
  background-color: var(--clinicBtnBgColorHover);
  border-color: var(--clinicBtnBorderColorHover);
}

.btn__clinics {
  color: var(--clinicBtnTextColor);
  background-color: var(--clinicBtnBgColor);
  height: var(--clinicBtnHeight);
  width: var(--clinicBtnWidth);
  border-width: var(--clinicBtnBorder);
  border-radius: var(--clinicBtnTlRadius) var(--clinicBtnTrRadius)
    var(--clinicBtnBlRadius) var(--clinicBtnBrRadius);
  border-color: var(--clinicBtnBorderColor);
  box-shadow: var(--clinicBtnShadow);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn__clinics:hover {
  color: var(--clinicBtnTextColorHover);
  background-color: var(--clinicBtnBgColorHover);
  border-color: var(--clinicBtnBorderColorHover);
}

@layer base {
  h1 {
    text-align: var(--h1Pos);
    @apply mx-0 my-[0.67em] block text-[3em] font-roboto;
  }
  h2 {
    text-align: var(--h2Pos);
    @apply mx-0 my-[0.83em] block text-[2em] font-roboto;
  }
  h3 {
    @apply mx-0 my-[1em] block text-[1.17em] font-roboto;
  }
  h4 {
    @apply mx-0 my-[1.33em] block text-base;
  }
  h5 {
    @apply mx-0 my-[1.67em] block text-[0.83em];
  }
  h6 {
    @apply mx-0 my-[2.33em] block text-[0.67em];
  }
}

/****************/
/***   CARD   ***/
/****************/
.card {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  position: relative;
}
.card:hover .front {
  transform: perspective(100px) rotateY(180deg);
  transition: all 1s;
}
.card:hover .back {
  transform: perspective(100px) rotateY(360deg);
  transition: all 1s;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.face.front {
  transform: perspective(100px) rotateY(0deg);
  padding: 1em;
  background-color: var(--gray-very-ligth);
}
.face__img {
  width: 100%;
  height: 100%;
}
.face.back {
  transform: perspective(100px) rotateY(180deg);
  font-weight: 600;
  padding: 1em;
  text-align: center;
  color: var(--effect-color);
  background-color: var(--gray-very-ligth);
}

@layer components {
  /*   TITLE   */
  .title {
    @apply mt-6 font-semibold text-teal-600;
  }
  /*   PARAGRAPH   */
  .paragraph {
    @apply text-center leading-8 font-normal mt-6 mb-5 text-xl text-gray-900;
  }
  /*   BUTTON   */
  .button__cta {
    @apply block my-8 mx-auto w-[280px] rounded bg-teal-500 text-slate-200 px-[5px] py-2 uppercase text-lg border-2 border-solid border-transparent ease-in-out duration-300 no-underline hover:bg-transparent hover:border-teal-500 hover:text-teal-500;
  }
  /*   FORM   */
  .form__group {
    @apply relative w-11/12 mb-8;
  }
  .form__icon {
    @apply absolute left-[5px] text-red-700;
  }
  .form__error {
    @apply absolute text-left w-11/12 rounded text-sm text-red-500 block transition-opacity duration-1000 ease-in-out;
  }
  .form__input {
    @apply w-full py-1 px-4 font-normal border border-solid border-gray-800 rounded bg-transparent  text-black focus:outline-none;
  }
  /* MENU */
  .menu {
    @apply flex flex-row justify-between sticky min-h-[50px] top-0 z-50 items-center bg-navBgColor shadow-[0_4px_9px_0px_rgba(0,0,0,0.5)] px-6 py-0;
  }
  .menu__icon {
    @apply lg:hidden hover:cursor-pointer;
  }
  .menu__desktop {
    @apply hidden lg:flex justify-between items-center;
  }
  .menu__ul {
    @apply list-none p-0 m-0 flex items-center h-[50px] ml-3;
  }
  .menu__link {
    @apply ml-4 no-underline text-gray-700 font-semibold hover:border-b hover:border-solid hover:border-b-navHoverColor;
  }
  .menu__item {
    @apply block px-2 py-1 text-navTextColor hover:text-navHoverColor;
  }
  .menu__mobile {
    @apply absolute top-[72px] left-0 w-[50%] bg-navBgColor -z-10;
  }
  .menu__ul-mobile {
    @apply min-h-screen justify-between px-0 list-none;
  }
  .menu__link-mobile {
    @apply hover:bg-gray-600 transition duration-300 ease-in-out;
  }
  .menu__mobile-item {
    @apply no-underline text-black font-normal px-6 py-6 block;
  }

  /* FLIP CARD */
  .flip-card {
    position: relative;
    /* border: thick solid #000; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 5rem; */
    width: 350px;
    height: 210px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: preserve-3d;
  }
  .flip-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .flip-card {
    transform-origin: center right;
  }
  .flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-front {
    transform: rotateY(0deg);
  }
  .flip-back {
    transform: rotateY(180deg);
  }
  .flip-card:hover {
    transform: translateX(-100%) rotateY(-180deg);
  }
}
